@font-face {
  font-family: "bold-helvetica";
  src: url("./Helvetica-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "normal-helvetica";
  src: url("./Helvetica.ttf") format("truetype");
}

@font-face {
  font-family: "sim-kai-mandarin";
  src: url("./KaiTi.ttf") format("truetype");
}

@media (max-width: 768px) {
  .card {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.card {
  font-family: arial;
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: white;
  margin-left: 25vw;
  margin-right: 25vw;
}

.frontbg {
  border: 0.5rem solid #212121;
  background-color: white;
  border-radius: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #212121;
  position: relative;
  left: 0;
  font-family: sim-kai-mandarin;
  font-size: 4rem;
  font-weight: bold;
}

#image {
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  width: 80vw;
  height: calc(80vw * 0.75);
  max-height: calc(500px * 0.75);
  border-radius: 30px;
}

#description {
  margin-top: 2rem;
  font-family: bold-helvetica;
  font-size: 4vh;
  font-weight: bold;
}

#sentence {
  margin-top: 3vh;
  padding-left: 0;
}

#sentence li {
  padding: 0;
  margin-top: 2rem;
  font-family: sim-kai-mandarin;
  list-style-type: none;
}

#sentence li fg {
  font-size: calc(8vh / 1.5);
}

#sentence fg {
  font-family: sim-kai-mandarin;
  font-weight: 400;
}

#entry {
  font-family: sim-kai-mandarin;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 8vh;
  font-weight: 400;
}

#entry fg::before {
  font-size: 22% !important;
  line-height: 1.5;
}

fg:before {
  content: attr(t);
  display: block;
  font-size: 35%;
  text-align: center;
  font-family: bold-helvetica;
  line-height: 1.25;
}

fg {
  display: inline-block;
  text-indent: 0px;
  line-height: normal;
  -webkit-text-emphasis: none;
  text-align: center;
  line-height: 1;
}
